<% include ./partials/header %>
<!-- header area start -->
<div class="header-area header-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9  d-none d-lg-block">
                <div class="horizontal-menu">
                    <nav>
                        <ul id="nav_menu">
                            <li class="active">
                                <a href="/hospital/<%=hospital.id%>/profile"><i
                                        class="ti-dashboard"></i><span>Profile</span></a>
                            </li>
                            <li>
                                <a href="/hospital/<%=hospital.id%>/doctors"><i
                                        class="ti-layout-sidebar-left"></i><span>Doctors</span></a>
                            </li>
                            <li>
                                <a href="/hospital/<%=hospital.id%>/patients"><i
                                        class="ti-notepad"></i><span>Patients</span></a>
                            </li>
                            <li>
                                <% include ./partials/add-patient-modal %>
                                <% include ./partials/search-bar %>
                                <!-- mobile_menu -->
                                <div class="col-12 d-block d-lg-none">
                                    <div id="mobile_menu"></div>
                                </div>
                </div>
            </div>
            <hr class="horizontal-menu-hr">
            </hr>
            <div class="container">
                <div class="page-title-area">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="breadcrumbs-area clearfix">
                                <h4 class="page-title pull-left">Dashboard</h4>
                                <ul class="breadcrumbs pull-left">
                                    <li><a href="/hospital/<%=hospital.id%>/">Home</a></li>
                                    <li><span>Profile</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header area end -->
        <!-- page title area end -->
        <div class="main-content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card card-profile">
                            <div class="card-header card-header-hospital"></div>
                            <div class="card-body text-center">

                                <h3 class="mb-3"><%= hospital.name %></h3>

                                <p class="mb-4">
                                    Established in <%= hospital.country %>
                                </p>
                                <% if(hospital.isVerified){ %>
                                <a href="javascript:void(0)" class="btn btn-outline-success btn-sm">
                                    <span class="fa fa-check"></span> Verified
                                </a>
                                <% } else { %>
                                <a href="javascript:void(0)" class="btn btn-outline-danger btn-sm">
                                    <span class="fa fa-times"></span> Not Verified
                                </a>
                                <% } %>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <span class="avatar avatar-xxl mr-5"
                                        style="background-image: url(/demo/faces/male/21.jpg)"></span>
                                    <div class="media-body">
                                        <h4 class="m-0">Quick Links</h4>
                                        <ul class="social-links list-inline mb-0 mt-2">
                                            <li class="list-inline-item">
                                                <a href="/hospital/<%=hospital.id%>/doctors">Doctor List</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="/hospital/<%=hospital.id%>/patients">Patient List</i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            changeBtn = (idName, className) => {
                                var buttonVal = $(className).text();
                                if (buttonVal === 'Change') {
                                    $(className).text('Save');
                                    $(idName).prop('readonly', false);
                                } else {
                                    $(className).text('Change');
                                    $(idName).prop('readonly', true);
                                }
                            }
                        </script>
                        <% include ../change-password %>
                    </div>
                    <div class="col-lg-8">
                        <form class="card" method="POST" action="/hospital/<%=hospital.id %>?_method=PUT">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <h3 class="card-title">Edit Profile</h3>
                                <div class="row">
                                    <script>
                                        function copyID() {
                                            console.log('hi');
                                            var copyText = document.getElementById("copyid");
                                            copyText.select();
                                            document.execCommand("copy");
                                            alert("Copied the text: " + copyText.value);
                                        }
                                    </script>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Medicords ID Number</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="<%=hospital.id%>" readonly
                                                    id="copyid">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" onclick="copyID()"><i
                                                            class="fa fa-copy"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="form-label">Company</label>
                                            <input type="text" class="form-control" readonly placeholder="Company"
                                                value="Medicords">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">Username</label>
                                            <input type="text" name="hospital[username]" class="form-control" readonly
                                                value="<%=hospital.username%>">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Company Address</label>
                                            <input type="text" class="form-control" name="hospital[address]"
                                                placeholder="Home Address" value="<%= hospital.address %>">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Corporate ID</label>
                                            <a href="javascript:void(0);" class="change-id-btn pull-right"
                                                onclick="changeBtn('#id','.change-id-btn')">Change</a>
                                            <input type="text" id="id" class="form-control"
                                                placeholder="Identification Number"
                                                name="hospital[identificationNumber]" readonly
                                                value="<%= hospital.identificationNumber %>">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control" name="hospital[name]"
                                                placeholder="Company" value="<%= hospital.name %>">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Expiry</label>
                                            <a href="javascript:void(0);" class="change-expiry-btn pull-right"
                                                onclick="changeBtn('#expiry','.change-expiry-btn')">Change</a>
                                            <input type="date" id="expiry" class="form-control" name="hospital[expiry]"
                                                readonly value="<%= hospital.expiry %>">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">City</label>
                                            <input type="text" class="form-control" name="hospital[city]"
                                                placeholder="City" value="<%= hospital.city %>">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Country</label>
                                            <select id="country" name="hospital[country]" class="form-control">
                                                <%
                                                                    for ( var i = 0; i < countryList.length; i++ )
                                                                    {
                                                                        var selected = ( hospital.country == countryList[i].name ) ? "selected" : "";
                                                                        %>
                                                <option value="<%=countryList[i].name %>" <%=selected %>>
                                                    <%=countryList[i].name %></option>
                                                <%}%>
                                                </select>
                                            </div>
                                        </div> 
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button type="submit" class="btn btn-primary btn-block">Update Hospital Details</button>
                            </div>
                        </form>
                    </div>
                    <!-- testimonial area end -->
                </div>
            </div>
        </div>
        <!-- main content area end -->
        <% include ./partials/footer %>
                                        </div>
                                        <!-- main wrapper start -->
                                        <% include ./partials/offset %>
                                        <% include ./partials/scripts %>
                                        </body>

                                        </html>